<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1234" thread-count="2" parallel="tests">
  <test name="ChromeTest">
  <parameter name="browser" value="Chrome"/>
    <classes>
     <class name="Testfb.TestNGClass"/> 
      <class name="Testfb.TestNG_2"/>
      </classes>
  </test> <!-- Test -->
  
    <test name="OperaTest">
  <parameter name="browser" value="Opera"/>
    <classes>
      <class name="Testfb.TestNG_2"/>
      <class name="Testfb.TestNGClass"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="FirefoxTest">
  <parameter name="browser" value="Firefox"/>
    <classes>
      <class name="Testfb.TestNG_2"/>
      <class name="Testfb.TestNGClass"/>
    </classes>
  </test> <!-- Test -->
  
   
  
  
  
  
  
  
</suite> <!-- Suite1234 -->

